<div class="col">
  <div class="row m-2 ">
    <div class="col-md-8 p-1 mt-2">
      <h1>Commande {{origine}}</h1>
    </div>
    <div class="col-md-4 text-lg-end">
      <app-button-action (clickEvent)="nouvelleCommande()"
      [isImporterVisible]="false"
      ></app-button-action>
    </div>
  </div>
  <div class="card m-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="col">
              <app-detail-commande-client-fournisseur></app-detail-commande-client-fournisseur>
            </div>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample" style="max-height: 300px; overflow-y: scroll" >
          <div class="accordion-body">
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-lg-start"> <h5>13 Articles commandes</h5></div>
            <div class="col-md-6 text-end"><h5>Total commandes 1233,45</h5></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="col">
              <app-detail-commande-client-fournisseur></app-detail-commande-client-fournisseur>
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample" style="max-height: 300px; overflow-y: scroll" >
          <div class="accordion-body">
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
            <app-detail-commande></app-detail-commande>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-lg-start"> <h5>4 Articles commandes</h5></div>
            <div class="col-md-6 text-end"><h5>Total commandes 134,45</h5></div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row m-4">
    <div class="row">
      <div class="col-md-12 text-lg-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>

</div>
