<div class="row m-lg-2 custom-border text-center">
    <div class="col-md-3 custom-border-right">
      <div class="row text-center">
        <div class="col-md-11">12.12.2022</div>
      </div>
  </div>

  <!--  detail categorie-->
  <div class="col-md-3 custom-border-right">
    <div class="row">
        <h5>139</h5>
      </div>
  </div>
  <!--  type entrè ou sortie-->
  <div class="col-md-3 custom-border-right">
    <div class="row">
        <h5>Sortie</h5>
      </div>
  </div>
  <!--  detail categorie-->
  <div class="col-md-3 ">
    <div class="row">
        <h5>COMMANDE_CLIENT</h5>
    </div>
  </div>
</div>
