<div class="row m-lg-2 custom-border text-center">
  <div class="col-md-2 custom-border-right">
    <div class="row text-center">
      <div class="col-md-11">Code Article</div>
    </div>
  </div>

  <!--  detail categorie-->
  <div class="col-md-2 custom-border-right">
    <div class="row">
      <h5>Desigantion Article</h5>
    </div>
  </div>
  <!--  type entrè ou sortie-->
  <div class="col-md-2 custom-border-right">
    <div class="row">
      <h5>Sortie</h5>
    </div>
  </div>
  <div class="col-md-2 custom-border-right">
    <div class="row">
      <h5>6</h5>
    </div>
  </div>
  <div class="col-md-2 custom-border-right">
    <div class="row">
      <h5>12,8</h5>
    </div>
  </div>
  <!--  detail categorie-->
  <div class="col-md-2">
    <div class="row">
      <h5>73,8</h5>
    </div>
  </div>
</div>
