<div class="col">
  <div class="row m-2 ">
    <div class="col-md-8 p-1 mt-2">
      <h1>liste des utilisateurs</h1>
    </div>
    <div class="col-md-4 text-lg-end">
      <app-button-action
        (clickEvent)="nouvelUtilisateur()"></app-button-action>
    </div>
  </div>
  <div class="card m-3">
    <app-detail-utilisateur></app-detail-utilisateur>
    <app-detail-utilisateur></app-detail-utilisateur>
    <app-detail-utilisateur></app-detail-utilisateur>
    <app-detail-utilisateur></app-detail-utilisateur>
    <app-detail-utilisateur></app-detail-utilisateur>
    <app-detail-utilisateur></app-detail-utilisateur>
  </div>
  <div class="row m-4">
    <div class="row">
      <div class="col-md-12 text-lg-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>
