/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eff2f5 !important;
}
.backgrown-grey{
  background-color: #eff2f5 !important;
}
.border-none{
  border: none !important;
}

.custom-border-right{
  border-right: 2px solid #d0d3d9;
}

.custom-border{
  border-radius: 5px;
  border: solid #d0d3d9;
}

.blue-color{
  color: blue;
}
