<div class="col">
  <div class="col-md-12 custom-border">
    <div class="col-md-12 mb-4 m-2">
      <h2 class="blue-color">
        Information de la categorie
      </h2>
    </div>
    <div class="col-md-12 p-2">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Code article" aria-label="Code categorie">
        </div>
        </div>
        <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Designation" aria-label="Description">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-lg-end p-2">
    <button class="btn btn-danger" (click)="cancel()"><fa-icon [icon]="faBan"></fa-icon>&nbsp;Annuler</button>&nbsp;
    <button class="btn btn-primary"><fa-icon [icon]="faSave"></fa-icon>&nbsp;Enregister</button>
  </div>
</div>
